<div id="particles-js"></div> 

<div class="contents">
    <h1 class="text-white">Portfolio#top</h1>
    <p class="text-white">Find me in app/views/portfolio/top.html.erb</p>

    <div class="card terminal">
        <div class="card-body">
            <%# プロフィール %>
            <div id="profile" data-animate="typed">
                <div class="card-title command-line">
                    $&nbsp;<span class="typing profile-typing">cat profile</span><span class="profile-cursor before">_</span>
                </div>
                <div class="fade-in">
                    <table>
                        <tr>
                            <td class="profile-title">REAL_NAME:</td>
                            <td><%= @user['realName'] %></td>
                        </tr>
                        <tr>
                            <td class="profile-title">HANDLE_NAME:</td>
                            <td><%= @user['handleName'] %></td>
                        </tr>
                        <tr>
                            <td class="profile-title">BIRTHDAY:</td>
                            <td><%= @user['birthdayText'] %></td>
                        </tr>
                        <tr>
                            <td class="profile-title">AREA:</td>
                            <td><%= @user['area'] %></td>
                        </tr>
                        <tr>
                            <td class="profile-title">LIKE:</td>
                            <td><%= @user['like'] %></td>
                        </tr>
                        <tr>
                            <td class="profile-title">HOBBY:</td>
                            <td><%= @user['hobby'] %></td>
                        </tr>
                        <tr>
                            <td class="profile-title"><br>PROFILE:</td>
                            <td class="profile-text"><br><%= @user['profile'] %></td>
                        </tr>
                    </table>
                    <div class="card-title command-line">
                        $&nbsp;<span class="profile-cursor">_</span>
                    </div>
                </div>
            </div>

            <%# 言語スキル一覧 %>
            <div id="language-skills" data-animate="typed">
                <div class="card-title command-line line1">
                    $&nbsp;<span class="profile-cursor before">_</span>
                </div>
                <div class="card-title command-line line2">
                    $&nbsp;<span class="profile-cursor before">_</span>
                </div>
                <div class="card-title command-line line3">
                    $&nbsp;<span class="typing profile-typing">ls -l language.skills</span><span class="profile-cursor before">_</span>
                </div>
                <div class="fade-in">
                    <table>
                        <% @languages.each do |language| %>
                            <tr>
                                <td class="language-skills-title"><%= language['name'] %></td>
                                <td class="<%= language['levelType'] %>"><%= language['level'] %></td>
                                <td><%= language['detail'] %></td>
                            </tr>
                        <% end %>
                    </table>
                    <div class="card-title command-line">
                        $&nbsp;<span class="profile-cursor">_</span>
                    </div>
                </div>
            </div>

            <%# フレームワークスキル一覧 %>
            <div id="framework-skills" data-animate="typed">
                <div class="card-title command-line">
                    $&nbsp;<span class="typing profile-typing">ls -l framework.skills</span><span class="profile-cursor before">_</span>
                </div>
                <div class="fade-in">
                    <table>
                        <% @frameworks.each do |framework| %>
                            <tr>
                                <td class="framework-skills-title"><%= framework['name'] %></td>
                                <td class="<%= framework['levelType'] %>"><%= framework['level'] %></td>
                                <td><%= framework['detail'] %></td>
                            </tr>
                        <% end %>
                    </table>
                    <div class="card-title command-line">
                        $&nbsp;<span class="profile-cursor">_</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
