<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-210593527-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-210593527-1');
    </script>

    <title>Ri Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=devise-width, initial-scale=1.0" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'shared/favicon' %>
  </head>

  <body class="body">
    <div class="bg-nav-bar d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm fixed-top">
      <h3 class="my-0 mr-md-auto font-weight-normal text-white">Ri Portfolio</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <% navigations.each do |navigation| %>
          <a id="<%= navigation[:id] %>" class="p-2 <%= navigation[:class] %>" href="<%= navigation[:link] %>"><%= navigation[:name] %></a>
        <% end %> 
      </nav>
    </div>
    <div class="contents-margin"></div>

    <%= yield %>

    <footer id="footer">
      <section class="primary">
        <p class="logo"><a href="#">Ri</a></p>
        <p class="link">
          Qiita: <a href="https://qiita.com/ri_java_sparrow" target="_blank" rel="noopener noreferrer">https://qiita.com/ri_java_sparrow</a>
        </p>
        <div class="navi-row">
          <ul class="sns-navi">
            <li>
              <a href="https://github.com/ri-chiba" target="_blank" rel="noopener noreferrer">
                <i class="fa fa-github fa-2x"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/ri_programmer" target="_blank" rel="noopener noreferrer">
                <i class="fa fa-twitter fa-2x"></i>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/channel/UCltsgrsXcY80rmNVnjI1dxA/featured" target="_blank" rel="noopener noreferrer">
                <i class="fa fa-youtube fa-2x"></i>
              </a>
            </li>
          </ul>
        </div>
      </section>
      <section class="secondary">
        <p class="copyright">Copyright 2021 Ri.</p>
      </section>
    </footer>

    <script src="https://use.fontawesome.com/2eabbec088.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script>
      particlesJS.load('particles-js', '/assets/particlesjs/particlesjs-config.json', function() {
        console.log('callback - particles.js config loaded');
      });
    </script>
  </body>
</html>
